container_commands:
    00_set_perms:
        command: "chown -R nodejs:nodejs /tmp/.npm"
    01_set_perms_build:
        command: "chmod -R 777 /tmp/deployment/application/node_modules/node-sass/"
    02_node_symlink:
        command: "ln -sf `ls -td /opt/elasticbeanstalk/node-install/node-v7* | head -1`/bin/node /bin/node"
    03_npm_symlink:
        command: "ln -sf `ls -td /opt/elasticbeanstalk/node-install/node-v7* | head -1`/bin/npm /bin/npm"
    04_react_scripts_symlink:
        command: "ln -sf /tmp/deployment/application/node_modules/.bin/react-scripts /bin/react-scripts"
    05_npm_run_build_prod:
        command: "sudo npm run build"

