//--Fonts
$font-family-main: "SourceSansPro-Regular", Sans-serif;
$font-family-main-bold: "SourceSansPro-SemiBold", Sans-serif;
$font-family-secondary: "PTSerif-Regular", Sans-serif;
$font-family-secondary-bold: "PTSerif-Bold", Sans-serif;

//--Colors

$color-white:					#FFFFFF !default;
$color-milk: #fdfdfd !default;
$color-warm-grey:     #717171 !default;
$color-soft-grey:     #ededed !default;
$color-smooth-grey: #fafafa !default;
$color-blue:          #1278ce !default;
$color-soft-blue:     #e6eef4 !default;
$color-smooth-blue: #e6eef4 !default;
$color-red:           #c31818 !default;
