.home-page {
	height: 100%;

	.picture-area {
		width: calc(100% - 430px);
		height: 100%;
		float: left;
		background-color: $color-white;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		background-image: url('../images/background.png');
	}

	.sidebar-area {
		width: 430px;
		height: 100%;
		float: left;
		padding: 24px;
		background: $color-white;
		position: relative;

		.logo {
			padding-top: 20%;
			width: 142px;
			margin-bottom: 32px;
		}

		.title {
			margin-bottom: 10px;
			font-family: $font-family-secondary-bold;
			font-size: 30px;
			color: $color-warm-grey;
		}

		.subtitle {
			margin-bottom: 76px;
			font-family: $font-family-main;
			font-size: 16px;
			color: $color-warm-grey;
			line-height: 24px;
		}

		label {
			display: block;
			margin-bottom: 8px;
			font-family: $font-family-main;
			font-size: 16px;
			color: $color-warm-grey;
			line-height: 24px;			
		}

		input[type='text'] {
			width: 70%;
			height: 48px;
			padding: 14px;
			margin: 0;
			margin-bottom: 5px;
			border: 1px solid $color-soft-grey;
			border-radius: 4px;
			margin-right: 5px;
			font-family: $font-family-main;
			font-size: 16px;
			color: $color-warm-grey;

			&:focus {
				outline: none;
			}
		}

		button {
			width: calc(30% - 5px);
			height: 48px;
			background: $color-soft-blue;
			border: 1px solid $color-soft-grey;
			border-radius: 4px;
			font-family: $font-family-main;
			font-size: 16px;
			color: $color-blue;
			font-weight: bold;
			cursor: pointer;

			&:focus {
				outline: none;
			}
		}

		.extra-action {
			margin-top: 15px;
			
			.btn-resend {
				width: auto;
				margin-right: 10px;
				background: $color-soft-grey;
				padding: 15px;
				font-family: $font-family-main;
				font-size: 16px;
				color: $color-warm-grey;
			}

			.btn-change-phone {
				width: auto;
				background: $color-white;
				padding: 15px;
				font-family: $font-family-main;
				font-size: 14px;
				color: $color-warm-grey;
				font-style: italic;
			}
		}

		.error {
			font-family: $font-family-main;
			font-size: 12px;
			color: $color-red;
		}

		.dot-area {
			position: absolute;
			bottom: 15px;
			left: 15px;

			&:after {
				content: "";
				display: table;
				clear: both;
			}

			.dot {
				width: 24px;
				height: 24px;
				border-radius: 50%;
				margin-right: 8px;
				float: left;
				background: $color-soft-blue;

				&.current {
					background: $color-blue;
				}
			}
		}
	}
}

.box-form-area {
	width: 100%;
	height: 350px;
	position: relative;
	overflow: hidden;
	
	.login-form-area {
		width: 100%;
		position: absolute;
		top: 0;
		left: -100%;
		transition: left 500ms;
  	will-change: left;

		&.show {
			left: 0;
		}
	}

	.verify-form-area {
		width: 100%;
		position: absolute;
		top: 0;
		left: 100%;
		transition: left 500ms;
		will-change: left;
		
		&.show {
			left: 0;
		}
	}
}